/* ----- FONTS ----- */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --light: white;
    --lightMid: #A6B63D;
    --darkMid: #1d1c1b;
    --dark: #1d1c1b;

    font-size: 62.5%;
    /*thème chocolat
--dark: #1d1915;
--darkMid: #202020;

    #bd8766
    #241e16
    #292219

    */
    /*thème menthe
    --darkMid: #375248;
    --dark: #375a4d;
    #f3e9e0
    */
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    user-select: none;
}
body{
    background-color: var(--dark);
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}
#app{ 
    overflow: hidden;
    position: relative;
    width: 100%;
}




/* ----- comon styles -----*/
.flexCentered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lightText{
    color: var(--light);
}
.clickOff{
    pointer-events: none;
}
.clickOn{
    pointer-events: auto;
}
.pointer{
    cursor: pointer;
}

.eric{
    border: 5px solid blue;
}

.red{
    border: 5px solid red;
}